cake {

  display: block;
  overflow: hidden;
  background: radial-gradient(#FF4081, transparent 70%); /*#ffbdd3*/;

  .cake-container {
    position: relative;
    overflow: hidden;
    height: 350px;
    margin-top: -100px;
  }

  .cake-svg {
    display: block;
    position: relative;
    margin: auto;
    top: -11em;
  }

  /* ============================================== Candle
  */

  .velas {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 228px;
    left: 50%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
  }
  .velas:after,
  .velas:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
  }
  .velas:after {
    top: 25%;
    left: 0;
  }
  .velas:before {
    top: 45%;
    left: 0;
  }

  /* ============================================== Fire
  */

  .fuego {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
  }
  .fuego:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
  }
  .fuego:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
  }
  .fuego:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
  }
  .fuego:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
  }
  .fuego:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
  }

  /* ============================================== Animation Fire
  */

  @keyframes fuego {
    0%, 100% {
      background: rgba(254, 248, 97, 0.5);
      box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
      transform: translateY(0) scale(1);
    }
    50% {
      background: rgba(255, 50, 0, 0.1);
      box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
      transform: translateY(-20px) scale(0);
    }
  }

  @keyframes in {
    to {
      transform: translateY(0);
    }
  }

}
