<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <audio #audio [attr.autoplay]="autoPlay || null" src="assets/melodies-of-life.mp3"></audio>
      <button ion-button color="light" icon-only [music-player]="audio" class="music-player" [autoPlay]="true"
              (manualPlayback)="needManualPlayback = true">
        <ion-icon [ngClass]="{swing: musicPlayer.swing}"
                  [name]="musicPlayer.iconName"></ion-icon>
      </button>
    </ion-buttons>
    <!--// TODO refresh-->
    <!--<ion-buttons end *ngIf="checkUpdatesProvider.canRefresh">
      <button ion-button icon-only (click)="refreshPage()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-title>Joyeux anniversaire !</ion-title>
  </ion-navbar>

</ion-header>


<ion-content (click)="needManualPlayback ? tryMusic() : null">
  <section>
    <h3>Félicitations, tu as trouvé toutes les surprises !</h3>
  </section>
  <section>
    <cake></cake>
  </section>
  <section>
    <heart></heart>
  </section>
  <section>
    <p>Après tout ce travail, il est temps de faire une pause. Profite de ces souvenirs, et à bientôt !</p>
  </section>
  <img *ngFor="let pic of album" [src]="'assets/album/' + pic" alt="Photo souvenir"/>

</ion-content>
