@import "../../theme/variables";

page-final {
  text-align: center;

  h3 {
    margin: 2rem 0;
  }
  section {
    padding: 2rem 16px;
    &:nth-child(even) {
      background: map_get($colors, light);
    }
  }

  img {
    display: block;
    width: 100%;
    margin: 1rem 0;
  }
}
