@import "../../theme/variables";

page-home {
  text-align: center;
  ion-content {
    img {
      max-width: 300px;
      &.small {
        max-width: 100px;
      }
    }
  }
  h3 {
    margin: 2rem 0;
  }
  section {
    padding: 2rem 16px;
    &:nth-child(even) {
      background: map_get($colors, light);
    }
    &.reset {
      margin-top: 8rem;
    }
  }
  img {
    margin: 1em;
  }
  progress {
    vertical-align: middle;
  }
  .key-wrapper {
    overflow: hidden;
    padding: 70px 0;
    position: relative;
  }
  .key {
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .side-menu-keys {
    display: flex;
    justify-content: space-between;
  }

  .shake {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    //12,28070175438596
    12% {
      transform: translateX(50px);
    }
    //17,54385964912281
    30% {
      transform: translateX(-40px);
    }
    48% {
      transform: translateX(30px);
    }
    66% {
      transform: translateX(-20px);
    }
    84% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .bounce {
    animation-duration: 1s;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    15% {
      transform: translateY(-60px);
      animation-timing-function: ease-in;
    }
    35% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    51% {
      transform: translateY(-40px);
      animation-timing-function: ease-in;
    }
    67% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    79% {
      transform: translateY(-20px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
    }
  }

  .cake {
    img {
      width: 300px;
      height: 300px;
      margin: 0;
    }
  }
  .small-cake {
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
  }
  @keyframes small {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.2);
    }
    90% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .fading {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
  }
  @keyframes fade-out-in {
    0% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fade-out-in {
    0% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .flying-cake {
    animation: flying-cake 4s ease-in-out infinite;
  }
  @keyframes flying-cake {
    0% {
      transform: translateX(-90%) rotate(0deg);
    }
    50% {
      transform: translateX(90%) rotate(1080deg);
    }
    100% {
      transform: translateX(-90%) rotate(0deg);
    }
  }

  .rotating {
    animation: rotating 1s linear infinite;
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
