<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <audio #audio [attr.autoplay]="autoPlay || null" src="assets/anniv.mp3"></audio>
      <button ion-button color="light" icon-only [music-player]="audio" class="music-player"
              (manualPlayback)="needManualPlayback = true"
              (find)="findMusic()">
        <ion-icon [ngClass]="{swing: musicPlayer.swing}"
                  [name]="musicPlayer.iconName"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="checkUpdatesProvider.canRefresh">
      <button ion-button icon-only (click)="refreshPage()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="shake" animateOnClick="shake" (click)="shakeTitle()">
      Anniversaire de Huaye
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content (click)="needManualPlayback ? tryMusic() : null">
  <section>
    <ng-container *ngIf="counts.current !== counts.total">
      <p>Toutes sortes de surprises sont cachées (ou pas) dans cette mini-application. Sauras-tu les trouver ?</p>
      <p>Une fois toutes les surprises trouvées, une surprise supplémentaire apparaîtra. Bon courage !</p>
      <h3>Tu as trouvé <strong>{{counts.current}}</strong> surprise{{counts.current > 1 ? 's' : ''}}.</h3>
      <h3>Il en reste <strong>{{counts.remaining}}</strong> à trouver !</h3>
      <p>
        <progress [value]="counts.current" [max]="counts.total"></progress>
        {{counts.current / counts.total * 100 | number:"1.0-0"}} %
      </p>
    </ng-container>
    <ng-container *ngIf="counts.current === counts.total">
      <h1>Joyeux anniversaire !</h1>
      <h3><strong>Félicitations, tu as trouvé les {{counts.total}} surprises !</strong></h3>
      <button ion-button large navPush="FinalPage">Revoir la super surprise</button>
    </ng-container>
  </section>

  <section class="bounce" animateOnClick="bounce" (click)="bounceSubtitle()">
    <p>
      <strong>C'est ta journée, elle t'est dédiée. Un an de plus de beauté et d'intelligence accumulées !</strong>
    </p>
    <p>28 ans, l'âge de la raison, l'âge de la beauté élégante.</p>
    <p>Egalement l'âge où un futur brillant se dresse devant toi.</p>
    <p>Le monde change, ton environnement change, la famille change et mûrit.</p>
    <p>Mais s'il y a une chose qui ne change pas, c'est que je suis et que je resterai toujours avec toi.</p>
  </section>
  <section>
    <!--birthday icons: https://www.flaticon.com/search?word=birthday-->
    <span class="fading" animateOnClick="fade-out-in">
      <img class="small rotating"
           (click)="shadeConfettis()"
           src="assets/icon/confetti.svg"/>
    </span>
    <span class="fading" animateOnClick="fade-out-in">
    <img class="small rotating"
         (click)="shadePresentBox()"
         src="assets/icon/gift.svg"/>
    </span>
    <div *ngIf="counts.remaining <= 2" class="side-menu-keys">
      <button ion-button color="primary" icon-only menuToggle="left">
        <ion-icon name="key"></ion-icon>
      </button>
      <button ion-button color="primary" icon-only menuToggle="right">
        <ion-icon name="key"></ion-icon>
      </button>
    </div>
  </section>
  <section no-padding class="key-wrapper">
    <img class="key" [src]="keyTapped ? 'assets/icon/key-green.svg' : 'assets/icon/key.svg'" (click)="tapKey()"/>
    <div class="cake"
    >
      <div class="flying-cake">
        <img
          class="small-cake"
          animateOnClick="small"
          (click)="reduceCake()"

          src="assets/icon/cake-slice.svg"/>
      </div>
    </div>
  </section>
  <section *ngIf="keyTapped">
    <game (smallWin)="winGame()"></game>
  </section>
  <section class="reset">
    <button ion-button (click)="resetFindings()" color="danger" small icon-start>
      <ion-icon name="nuclear"></ion-icon>
      Je veux tout recommencer
    </button>
    <p>Attention, ce bouton n'est pas une surprise. Il fera reprendre le compteur des surprises à 0.</p>
  </section>
</ion-content>
