<canvas #canvas
        (touchstart)="doTouchstart($event)"
        (touchend)="doTouchend($event)"
        (mousedown)="doMousedown($event)"
        (mouseup)="doMouseup($event)"></canvas>
<ion-card *ngIf="!gameStarted">
  <ion-card-header *ngIf="gameEnded">Partie terminée</ion-card-header>
  <ion-card-content>
    <p *ngIf="!gameEnded">Cumulez {{smallWinScore}} points pour gagner.</p>
    <p *ngIf="gameEnded"><strong>Score : {{gameScore}}
      <ng-container *ngIf="didSmallWin"> - Victoire !</ng-container>
      <ng-container *ngIf="!didSmallWin"> - Cumulez {{smallWinScore}} points pour gagner.</ng-container>
    </strong></p>
  </ion-card-content>

  <button *ngIf="!gameArea || !gameArea.isPaused" ion-button (click)="replay()">Jouer</button>
  <button *ngIf="gameArea && gameArea.isPaused" ion-button (click)="continue($event)">Continuer</button>
</ion-card>
<!--<button ion-button (click)="pause($event)">Pause</button>-->
<!--<button ion-button (click)="continue($event)">Continue</button>-->
