game {
  display: block;
  position: relative;

  canvas {
    display: inline-block;
    width: 100%;
    height: 270px;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
  }

  ion-card {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 180px;
    margin: auto !important;
    left: 0;
    right: 0;

    button {
      margin-top: 1rem !important;
    }
  }
}
