[music-player], .music-player {
  margin: 0 1em;

  &.paused {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      right: 0;
      border-top: 3px solid;
      border-color: inherit;

      transform: rotate(-30deg);
    }
  }


  .swing {
    animation: swing 2s infinite;
  }

  @keyframes swing {
    0% {
      transform: rotate(0deg) scale(1.5);
      animation-timing-function: ease-out;
    }
    25% {
      transform: rotate(-30deg) scale(1.5);
      animation-timing-function: ease-in;
    }
    50% {
      transform: rotate(0deg) scale(1.5);
      animation-timing-function: ease-out;
    }
    75% {
      transform: rotate(30deg) scale(1.5);
      animation-timing-function: ease-in;
    }
    100% {
      transform: rotate(0deg) scale(1.5);
      animation-timing-function: ease-out;
    }
  }

}
