<ion-menu side="left" [content]="mycontent">
  <ion-content>
    <img menuClose="left" class="small"
         (click)="validateLeftMenu()"
         src="assets/icon/like-blue.svg"/>
  </ion-content>
</ion-menu>
<ion-menu side="right" [content]="mycontent">
  <ion-content>
    <img menuClose="right" class="small right-hand"
         (click)="validateRightMenu()"
         src="assets/icon/like-red.svg"/>
  </ion-content>
</ion-menu>
<ion-nav #mycontent [root]="rootPage" swipe-back-enabled="false" swipeBackEnabled="false"></ion-nav>
